target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/static/avatar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.mvn/
/log/
*.log
/src/main/resources/templates/
/eureka-client-consumer/.mvn/
/eureka-client-consumer/src/test/
/eureka-client-provider/.mvn/
/eureka-client-provider/src/test/
/eureka-server/.mvn/
/eureka-server/src/test/
/turbine-service/src/test/
/turbine-service/.mvn/
/hystrix-dashboard/.mvn/
src/main/resources/static/
src/main/resources/templates/
/hystrix-dashboard/.mvn/wrapper/
/hystrix-dashboard/src/test/
/config-server/.mvn/
/config-server/src/test/
**/mvnw
**/mvnw.cmd